<script lang="ts">
  import { userStores } from "../../../stores/user";

  const { user } = userStores;
</script>

<style lang="sass">
  @import './styles.sass'
</style>

<header>
  {#if $user?.token}home{:else}auth{/if}
</header>
