<script lang="ts">
  import { userEvents } from "../../stores/user";

  let errors = "";

  let username = "";
  let password = "";

  const login = (e: any) => {
    e.preventDefault()
    Object.values(form).includes("")
      ? (errors = "fill the fields")
      : userEvents.login(username);
  };

  // @ts-ignore
  $: password, console.log(password);
  $: form = {
    username,
    password,
  };
  // @ts-ignore
  // $: form,
  //   Object.values(form).includes("")
  //     ? (errors = "fill the fields")
  //     : (errors = "");
</script>

<style lang="sass">
    @import './styles.sass'
</style>

<form action="">
  {#if !errors}
    <h3>{errors}</h3>
  {/if}
  <input type="text" bind:value={username} name="username" />
  <input type="text" bind:value={password} name="password" />
  <button on:click={login}>login</button>
</form>