<script lang="ts">
  import { userEvents, userStores } from "../../stores/user";

  const {user} = userStores

  const logout = () => userEvents.logout();

</script>

<style lang="sass">
    @import './styles.sass'
</style>

<h1>your name is {$user?.user?.username}</h1>
<button on:click={logout}>logout</button>
