<script lang="ts">
  import { Route, router } from "tinro";
  import { userStores } from "./stores/user";
  import MainLayout from "./components/layouts/MainLayout/MainLayout.svelte";
  import Home from "./pages/home/Home.svelte";
  import Auth from "./pages/auth/Auth.svelte";

  const { user } = userStores;

  router.useHashNavigation(); // enable hash navigation method
  router.subscribe((_) => window.scrollTo(0, 0));
  // let userState: TokenProps = {}

  // const unsubscribe = user.subscribe(state => userState = state )

  // onDestroy(() =>unsubscribe())
</script>

<style lang="sass" global>
  @import "./styles/global.sass"
</style>

<MainLayout>
  <Route>
    {#if $user?.token}
      <Route path="/home">
        <Home />
      </Route>
      <Route path="/auth" redirect="/home" />
    {:else}
      <Route path="/auth">
        <Auth />
      </Route>
      <Route path="/home" redirect="/auth" />
    {/if}
    <!-- <Route fallback>
      this is 404 page
      {#if $user?.token}
        <a href="/home">go to home</a>
      {:else}<a href="/auth">go to auth</a>{/if}
    </Route> -->
  </Route>
</MainLayout>
